select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    color: #A1A1AA;
}

.select-arrow {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #A1A1AA;
    ;
}