header{
    transition: 0.5s;
    z-index: 1;
}

.button {
    position: relative;
    border-radius: 30px;
    z-index: 1;
    width: fit-content;
}

.button::before{
    border-radius: 30px;
    content: "";
    position: absolute;
    top: -3%;
    left: -3%;
    right: 0;
    width: 106%;
    height: 106%;
    background: linear-gradient(280deg, green, white);
    z-index: -1;
}

.button button{
    background: #141021;
    border-radius: 30px;
    padding: 8px 20px;
}