@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App{
  background-color: #141021;
  font-family: 'IBM Plex Sans', sans-serif;
  color: white;
}

p{
  color: #A1A1AA;
}

ul{
  display: flex;
}

button{
  text-transform: uppercase;
  transition: 0.2s;
}

.common-btn{
  background-color: #71B131;
  border-radius: 50px;
  padding: 10px 20px;
  color: white;
  width: fit-content;
}

.common-btn:hover{
  color: #71B131;
  background-color: white;
}